[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-daq = "*"
scikit-learn = "*"
category-encoders = "*"
joblib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
